
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form class="form form-margin-bottom" action="" method="post">
    <input class="col col-12" type="text" autocomplete="off" name="Username" id="txtun" />
    <br />
    <input class="col col-12" type="password" autocomplete="off" name="Password" />
    <h3 class="text-red">@ViewBag.err</h3>
    <button class="btn btn-block">Login</button>
</form>
